$background:#e9ecf3;
$color:#070510;

/*Color variables*/
$primary1:#24abe3;
$primary2:#3562b7;
$primary3:#c08c4d;
$primary4:#009384;
$primary5:#d52b46;
$primary6:#31c9a1;
$primary7:#d6ad0a;
$primary8:#862a8d;
$primary9:#3454c2;
$primary10:#f94a36;
$primary11:#ee7c3e;
$primary12:#daa542;
$primary13:#f13523;
$primary14:#fd5d28;
$primary15:#ed5151;
$primary16:#d63f93;
$primary17:#2bd3a0;
$primary18:#eb891e;
$primary19:#ae011f;
$primary20:#fe9201;

$secondary1:#f37e1a;
$secondary2:#9c31df;
$secondary5:#2b9bd5;
$secondary8:#da8709;

$info:#0ab2e6;
$success:#27c781;
$warning:#ff8819;
$danger:#ff382b;
$blue:#467fcf;
$yellow:#ffa22b;
$teal:#05e6e6;
$purple:#604dd8;
$dark:#1d2124;
$indigo:#6574cd;
$white:#fff;
$black:#000;

/*white variables*/
$white-1:rgba(255, 255, 255, 0.1);
$white-2:rgba(255, 255, 255, 0.2);
$white-3:rgba(255, 255, 255, 0.3);
$white-4 :rgba(255, 255, 255, 0.4);
$white-5 :rgba(255, 255, 255, 0.5);
$white-6 :rgba(255, 255, 255, 0.6);
$white-7 :rgba(255, 255, 255, 0.7);
$white-8 :rgba(255, 255, 255, 0.8);
$white-9 :rgba(255, 255, 255, 0.9);
$white-05:rgba(255, 255, 255, 0.05);
$white-08:rgba(255, 255, 255, 0.08);
$white-75:rgba(255, 255, 255, 0.075);

/*black variables*/
$black-1:rgba(0, 0, 0, 0.1);
$black-2:rgba(0, 0, 0, 0.2);
$black-3:rgba(0, 0, 0, 0.3);
$black-4:rgba(0, 0, 0, 0.4);
$black-5:rgba(0, 0, 0, 0.5);
$black-6:rgba(0, 0, 0, 0.6);
$black-7:rgba(0, 0, 0, 0.7);
$black-8:rgba(0, 0, 0, 0.8);
$black-9:rgba(0, 0, 0, 0.9);
$black-05:rgba(0, 0, 0, 0.05);
